* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'AlumniSans';
  src: url('../fonts/AlumniSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* ВЕРХНИЙ БОКС */
.top-ui-layer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

/* СИНИЙ ПРЯМОУГОЛЬНИК С ЛОГО */
.top-bar {
  width: 100%;
  height: 25vw;
  background-color: #2B50AA;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 3vw;
}

/* ГОЛУБОЙ ПРЯМОУГОЛЬНИК С ТЕКСТОМ */
.bottom-bar {
  width: 100%;
  height: 15vw;
  background-color: #01B37F;
  border: 5px solid black;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/* ТЕКСТ */
.bottom-text {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: 'AlumniSans', sans-serif;
  font-weight: 500;
  font-size: 15vw;
  color: white;
  line-height: 1;
  transform: translateY(-50%);
  animation: scrollLeftToRight 7s linear infinite;
}

/* АНИМАЦИЯ */
@keyframes scrollLeftToRight {
  0% {
    transform: translateX(100vw) translateY(-50%);
  }
  100% {
    transform: translateX(-100%) translateY(-50%);
  }
}
/* БОКС ДЛЯ ВСЕГО ЛИЦА */
.face-layer {
  width: 100vw;
  height: calc(2 * 25vw + 25vw + 28vw);
  position: relative;
  z-index: 10;
  overflow: hidden;
}
/* БРОВИ */
.brows-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vmin;
  display: flex;
  align-items: center;
  z-index: 999;
}

.brows-strip {
  display: flex;
  height: 100%;
}

.brows-row-atom {
  width: 25vw;
  height: 100%;
  border: 5px solid black;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.brows-row-atom:nth-of-type(1) {
    background-color: #05C1F1;
    background-image: url('../images/blue eyebrow up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(2) {
    background-color: #05C1F1;
    background-image: url('../images/blue\ eyebrow\ down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(3) {
    background-color: #FF4431;
    background-image: url('../images/red\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(4) {
    background-color: #FF4431;
    background-image: url('../images/red\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
}
.brows-row-atom:nth-of-type(5) {
    background-color: #F7DE1C;
    background-image: url('../images/yellow\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
}
.brows-row-atom:nth-of-type(6) {
    background-color: #F7DE1C;
    background-image: url('../images/yellow\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(7) {
    background-color: #7A59A4;
    background-image: url('../images/purple\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(8) {
    background-color: #7A59A4;
    background-image: url('../images/purple\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(9) {
    background-color: #01B37F;
    background-image: url('../images/green\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(10) {
    background-color: #01B37F;
    background-image: url('../images/green\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* --- ОБЩИЕ СТИЛИ УХА --- */
.ear {
  width: 100%;
  height: 25vw;
  border: 5px solid black;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* === ЛЕВЫЕ УШИ === */
.ears-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: scrollUp 8s linear infinite;
}

.ears-left:hover {
  animation-play-state: paused;
}

/* Стили по nth-of-type для левых ушей */
.ears-left .ear:nth-of-type(1),
.ears-left .ear:nth-of-type(7) {
  background-color: #05C1F1;
  background-image: url('../images/yellow\ ear.svg');
}

.ears-left .ear:nth-of-type(2),
.ears-left .ear:nth-of-type(8) {
  background-color: #FF4431;
  background-image: url('../images/blue\ ear.svg');
}

.ears-left .ear:nth-of-type(3),
.ears-left .ear:nth-of-type(9) {
  background-color: #F7DE1C;
  background-image: url('../images/purple\ ear.svg');
}

.ears-left .ear:nth-of-type(4),
.ears-left .ear:nth-of-type(10) {
  background-color: #01B37F;
  background-image: url('../images/pink\ ear.svg');
}

.ears-left .ear:nth-of-type(5),
.ears-left .ear:nth-of-type(11) {
  background-color: #FF8CBD;
  background-image: url('../images/red\ ear.svg');
}

.ears-left .ear:nth-of-type(6),
.ears-left .ear:nth-of-type(12) {
  background-color: #7A59A4;
  background-image: url('../images/yellow\ big\ ear.svg');
}

/* УШИ СПРАВА */
.ears-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  animation: scrollUp 5s linear infinite;
}

.ears-right:hover {
  animation-play-state: paused;
}
/* === АНИМАЦИЯ === */
.ears-left, .ears-right {
  position: absolute;
  top: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: scrollUp 8s linear infinite;
}

.ears-left:hover, .ears-right:hover {
  animation-play-state: paused;
}

.ears-right {
  right: 0;
  z-index: 1;
}

.ears-right .ear {
  transform: scaleX(-1);
}

@keyframes scrollUp {
  0% { transform: translateY(0); }
  100% { transform: translateY(-150vw); } /* 6 ушей × 25vw */
}
.ears-right .ear {
  width: 100%;
  height: 25vw;
  border: 5px solid rgb(0, 0, 0);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleX(-1);
}
.ears-right .ear:nth-of-type(1) {
  background-color: #05C1F1;
  background-image: url('../images/yellow ear.svg');
}

.ears-right .ear:nth-of-type(2) {
  background-color: #FF4431;
  background-image: url('../images/blue ear.svg');
}

.ears-right .ear:nth-of-type(3) {
  background-color: #F7DE1C;
  background-image: url('../images/purple ear.svg');
}

.ears-right .ear:nth-of-type(4) {
  background-color: #01B37F;
  background-image: url('../images/pink ear.svg');
}

.ears-right .ear:nth-of-type(5) {
  background-color: #FF8CBD;
  background-image: url('../images/red ear.svg');
}

.ears-right .ear:nth-of-type(6) {
  background-color: #7A59A4;
  background-image: url('../images/yellow big ear.svg');
}
/* ГЛАЗА СЛЕВА */
.center-left-panel {
  position: absolute;
  top: 0;
  left: 25vw;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.center-left-panel .panel-atom {
  width: 100%;
  height: 25vw;
  border: 5px solid #000000;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(1) {
  background-color: #FF8CBD;
  background-image: url('../images/pink\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(2) {
  background-color: #7A59A4;
  background-image: url('../images/purple\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(3) {
  background-color: #FF4431;
  background-image: url('../images/red\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(4) {
  background-color: #F7DE1C;
  background-image: url('../images/yellow\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(5) {
  background-color: #01B37F;
  background-image: url('../images/green\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(6) {
  background-color: #05C1F1;
  background-image: url('../images/blue\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* ГЛАЗА СПРАВА */
.center-right-panel {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.center-right-panel .panel-atom {
  width: 100%;
  height: 25vw;
  border: 5px solid #000000;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(1) {
  background-color: #FF8CBD;
  background-image: url('../images/pink\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(2) {
  background-color: #7A59A4;
  background-image: url('../images/purple\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(3) {
  background-color: #FF4431;
  background-image: url('../images/red\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(4) {
  background-color: #F7DE1C;
  background-image: url('../images/yellow\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(5) {
  background-color: #01B37F;
  background-image: url('../images/green\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(6) {
  background-color: #05C1F1;
  background-image: url('../images//blue\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} 
.center-left-panel,
.center-right-panel {
  animation: scrollEyes 8s linear infinite;
  overflow: hidden;
  box-sizing: border-box;
}

.center-left-panel:hover,
.center-right-panel:hover {
  animation-play-state: paused;
}

/* АНИМАЦИЯ ВНИЗ (противоположно ушам) */
@keyframes scrollEyes {
  0% { transform: translateY(0); }
  100% { transform: translateY(-150vw); } /* ← 6 глаз × 25vw */
}
.center-left-panel,
.center-right-panel {
  animation: scrollEyesDown 8s linear infinite;
  overflow: hidden;
  box-sizing: border-box;
}

.center-left-panel:hover,
.center-right-panel:hover {
  animation-play-state: paused;
}

@keyframes scrollEyesDown {
  0% { transform: translateY(-150vw); } /* ← начинаем с дубликатов */
  100% { transform: translateY(0); }     /* ← уезжаем вниз */
}

/* БЛОК С НОСАМИ */
.noses-row {
  position: absolute;
  top: calc(2 * 25vw);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 25vw;
  z-index: 999;
}

.nose-atom {
  width: 28vw;
  height: 100%;
  background-color: #FF8CBD;
  border: 5px solid black;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(1) {
  background-color: #FF4431;
  background-image: url('../images/yellow\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(2) {
  background-color: #FF8CBD;
  background-image: url('../images/red\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(3) {
  background-color: #01B37F;
  background-image: url('../images/big\ pink\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(4) {
  background-color: #F7DE1C;
  background-image: url('../images/green\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(5) {
  background-color: #05C1F1;
  background-image: url('../images/purple\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(6) {
  background-color: #7A59A4;
  background-image: url('../images/pink\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(7) {
  background-color: #FF4431;
  background-image: url('../images/blue\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.noses-row {
  overflow: hidden; /* ← обрезаем то, что выходит */
  animation: scrollNoses 10s linear infinite;
}

.noses-row:hover {
  animation-play-state: paused;
}

@keyframes scrollNoses {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); } /* ← 14 носов = 2×, сдвиг на 1 набор */
}
/* РОТ И РУКИ */
.mouth-container {
  position: absolute;
  top: calc(2 * 25vw + 25vw);
  left: 0;
  width: 100vw;
  height: 30vw;
  z-index: 998;
  display: flex;
}

/* --- ОБЩИЙ КОНТЕЙНЕР РУКИ --- */
.left-hand,
.right-hand {
  width: 25vw;
  height: 28vw;
  border: 5px solid black;
  flex-shrink: 0;
  position: relative;
}

.right-hand {
  transform: scaleX(-1);
}

/* --- СЛОЙ СОСТОЯНИЯ --- */
.hand-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0;
}

.left-hand .hand-1,
.right-hand .hand-1 {
  opacity: 1;
  background-color: #FF4431;
  background-image: url('../images/hand.svg');
  animation: hideAfter3s 4s infinite;
}

.left-hand .hand-2,
.right-hand .hand-2 {
  background-color: #F7DE1C;
  background-image: url('../images/ogre\ paw.svg');
  animation: showFrom3to6s 4s infinite;
}

.left-hand .hand-3,
.right-hand .hand-3 {
  background-color: #01B37F;
  background-image: url('../images/cat\'s\ paw.svg');
  animation: showFrom6to9s 4s infinite;
}

/* АНИМАЦИИ */
@keyframes hideAfter3s {
  0%, 33.33% { opacity: 1; }
  33.34%, 100% { opacity: 0; }
}

@keyframes showFrom3to6s {
  0%, 33.33% { opacity: 0; }
  33.34%, 66.66% { opacity: 1; }
  66.67%, 100% { opacity: 0; }
}

@keyframes showFrom6to9s {
  0%, 66.66% { opacity: 0; }
  66.67%, 100% { opacity: 1; }
}

/* РОТ */
.mouth {
  width: 50vw;
  height: 28vw;
  background-color: #F7DE1C;
  border: 5px solid black;
  flex-shrink: 0;
  background-image: url('../images/mouth closed.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: background-image 0.3s ease;
}

.mouth:hover {
  background-image: url('../images/mouth open.svg');
}

/* БОКС С ДЕТАЛЯМИ */
.details-row {
  width: 100vw;
  height: 37.5vmin;
  display: flex;
  z-index: 1000;
  position: relative;
}

/* СТИЛИ ДЛЯ ЯЧЕЕК */
.wings,
.tails,
.horns {
  height: 100%;
  flex-shrink: 0;
  width: 33.33vw;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: all 0.3s ease;
}

/* === КРЫЛЬЯ === */
.wings {
  background-color: #F7DE1C;
  background-image: url('../images/pink wing.svg');
}

.wings:hover {
  background-color: #FF8CBD;
  background-image: url('../images/yellow wing.svg');
  transform: scale(1.1);
}

/* === ХВОСТЫ === */
.tails {
  background-color: #01B37F;
  background-image: url('../images/red tail.svg');
}

.tails:hover {
  background-color: #FF4431;
  background-image: url('../images/green tail.svg');
  transform: scale(1.1);
}

/* === РОГА === */
.horns {
  background-color: #7A59A4;
  background-image: url('../images/yellow horns.svg');
}

.horns:hover {
  background-color: #F7DE1C;
  background-image: url('../images/purple horns.svg');
  transform: scale(1.1);
}
/* ПОСЛЕДНИЙ БЛОК */
.final-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* ОБЩИЙ СТИЛЬ ДЛЯ ВСЕХ БЛОКОВ С ТЕКСТОМ */
.final-bar {
  width: 100%;
  height: 15vmin;
  border: 5px solid black;
  box-sizing: border-box;
  font-family: 'AlumniSans', sans-serif;
  font-weight: 500;
  font-size: 15vmin;
  color: white;
  display: flex;
  overflow: hidden;
  align-items: center;
  line-height: 1.2;
}

.final-bar.bottom {
  height: 7.5vmin;
  font-size: 6vmin;
  background-color: #2B50AA;
}

.final-bar.top { background-color: #FF4431; }
.final-bar.middle { background-color: #33BEFF; }

/* ===== НОВАЯ АНИМАЦИЯ — ТОЛЬКО ЭТО ===== */
.marquee-wrapper {
  display: flex;
  white-space: nowrap;
  animation: marquee-left 6s linear infinite;
}

.marquee-wrapper.reverse {
  animation: marquee-right 3s linear infinite;
}

.marquee-wrapper span {
  padding: 0 2vw;
  flex-shrink: 0;
}

@keyframes marquee-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-16.66%); }
}

@keyframes marquee-right {
  0% { transform: translateX(-16.66%); }
  100% { transform: translateX(0); }
}

/* ПРОСТРАНСТВО */
.final-large-box {
  width: 100%;
  height: 57vmin;
  border: 5px solid black;
  box-sizing: border-box;
  background-image: url('../images/hall.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
