* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'KvitkaSPDemo';
  src: url('../fonts/KvitkaSPDemo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* ВЕРХНИЙ БОКС */
.top-ui-layer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

/* СИНИЙ ПРЯМОУГОЛЬНИК С ЛОГО */
.top-bar {
  width: 100%;
  height: 25vw;
  background-color: #2B50AA;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 3vw;
}

/* ГОЛУБОЙ ПРЯМОУГОЛЬНИК С ТЕКСТОМ */
.bottom-bar {
  width: 100%;
  height: 15vw;
  background-color: #01B37F;
  border: 5px solid black;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

/* ТЕКСТ */
.bottom-text {
  position: absolute;
  top: 50%;
  white-space: nowrap;
  font-family: 'KvitkaSPDemo', sans-serif;
  font-size: 15vw;
  color: white;
  text-transform: uppercase;
  line-height: 1;
  transform: translateY(-50%);
  animation: scrollLeftToRight 7s linear infinite;
}

/* АНИМАЦИЯ */
@keyframes scrollLeftToRight {
  0% {
    transform: translateX(100vw) translateY(-50%);
  }
  100% {
    transform: translateX(-100%) translateY(-50%);
  }
}
/* БОКС ДЛЯ ВСЕГО ЛИЦА */
.face-layer {
  width: 100vw;
  height: calc(2 * 25vw + 25vw + 28vw);
  position: relative;
  z-index: 10;
  overflow: hidden;
}
/* БРОВИ */
.brows-row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vmin;
  display: flex;
  align-items: center;
  z-index: 999;
}

.brows-strip {
  display: flex;
  height: 100%;
}

.brows-row-atom {
  width: 25vw;
  height: 100%;
  border: 5px solid black;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.brows-row-atom:nth-of-type(1) {
    background-color: #05C1F1;
    background-image: url('../images/blue eyebrow up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(2) {
    background-color: #05C1F1;
    background-image: url('../images/blue\ eyebrow\ down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(3) {
    background-color: #FF4431;
    background-image: url('../images/red\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(4) {
    background-color: #FF4431;
    background-image: url('../images/red\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
}
.brows-row-atom:nth-of-type(5) {
    background-color: #F7DE1C;
    background-image: url('../images/yellow\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
}
.brows-row-atom:nth-of-type(6) {
    background-color: #F7DE1C;
    background-image: url('../images/yellow\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(7) {
    background-color: #7A59A4;
    background-image: url('../images/purple\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(8) {
    background-color: #7A59A4;
    background-image: url('../images/purple\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(9) {
    background-color: #01B37F;
    background-image: url('../images/green\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.brows-row-atom:nth-of-type(10) {
    background-color: #01B37F;
    background-image: url('../images/green\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* УШИ СЛЕВА */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transform: translateY(-25vw);
}

.sidebar-atom {
  width: 100%;
  height: 25vw;
  border: 5px solid rgb(0, 0, 0);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.sidebar-atom:nth-of-type(1) {
    background-color: #05C1F1;
    background-image: url('../images/yellow\ ear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sidebar-atom:nth-of-type(2) {
    background-color: #FF4431;
    background-image: url('../images/blue\ ear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sidebar-atom:nth-of-type(3) {
    background-color: #F7DE1C;
    background-image: url('../images/purple\ ear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sidebar-atom:nth-of-type(4) {
    background-color: #01B37F;
    background-image: url('../images/pink\ ear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sidebar-atom:nth-of-type(5) {
    background-color: #FF8CBD;
    background-image: url('../images/red\ ear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.sidebar-atom:nth-of-type(6) {
    background-color: #7A59A4;
    background-image: url('../images/yellow\ big\ ear.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* УШИ СПРАВА */
.vertical-atoms-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
  transform: translateY(-25vw);
}

.vertical-atoms-right .vertical-atom {
  width: 100%;
  height: 25vw;
  background-color: #05C1F1;
  border: 5px solid rgb(0, 0, 0);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform: scaleX(-1);
}
.vertical-atoms-right .vertical-atom:nth-of-type(1) {
  background-color: #05C1F1;
  background-image: url('../images/yellow ear.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vertical-atoms-right .vertical-atom:nth-of-type(2) {
  background-color: #FF4431;
  background-image: url('../images/blue ear.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vertical-atoms-right .vertical-atom:nth-of-type(3) {
  background-color: #F7DE1C;
  background-image: url('../images/purple ear.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vertical-atoms-right .vertical-atom:nth-of-type(4) {
  background-color: #01B37F;
  background-image: url('../images/pink ear.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vertical-atoms-right .vertical-atom:nth-of-type(5) {
  background-color: #FF8CBD;
  background-image: url('../images/red ear.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.vertical-atoms-right .vertical-atom:nth-of-type(6) {
  background-color: #7A59A4;
  background-image: url('../images/yellow big ear.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* ГЛАЗА СЛЕВА */
.center-left-panel {
  position: absolute;
  top: 0;
  left: 25vw;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.center-left-panel .panel-atom {
  width: 100%;
  height: 25vw;
  border: 5px solid #000000;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(1) {
  background-color: #FF8CBD;
  background-image: url('../images/pink\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(2) {
  background-color: #7A59A4;
  background-image: url('../images/purple\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(3) {
  background-color: #FF4431;
  background-image: url('../images/red\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(4) {
  background-color: #F7DE1C;
  background-image: url('../images/yellow\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(5) {
  background-color: #01B37F;
  background-image: url('../images/green\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-left-panel .panel-atom:nth-of-type(6) {
  background-color: #05C1F1;
  background-image: url('../images/blue\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* ГЛАЗА СПРАВА */
.center-right-panel {
  position: absolute;
  top: 0;
  left: 50vw;
  width: 25vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.center-right-panel .panel-atom {
  width: 100%;
  height: 25vw;
  border: 5px solid #000000;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(1) {
  background-color: #FF8CBD;
  background-image: url('../images/pink\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(2) {
  background-color: #7A59A4;
  background-image: url('../images/purple\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(3) {
  background-color: #FF4431;
  background-image: url('../images/red\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(4) {
  background-color: #F7DE1C;
  background-image: url('../images/yellow\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(5) {
  background-color: #01B37F;
  background-image: url('../images/green\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.center-right-panel .panel-atom:nth-of-type(6) {
  background-color: #05C1F1;
  background-image: url('../images//blue\ eye.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
} 
/* БЛОК С НОСАМИ */
.noses-row {
  position: absolute;
  top: calc(2 * 25vw);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  height: 25vw;
  z-index: 999;
}

.nose-atom {
  width: 28vw;
  height: 100%;
  background-color: #FF8CBD;
  border: 5px solid black;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(1) {
  background-color: #FF4431;
  background-image: url('../images/yellow\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(2) {
  background-color: #FF8CBD;
  background-image: url('../images/red\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(3) {
  background-color: #01B37F;
  background-image: url('../images/big\ pink\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(4) {
  background-color: #F7DE1C;
  background-image: url('../images/green\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(5) {
  background-color: #05C1F1;
  background-image: url('../images/purple\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(6) {
  background-color: #7A59A4;
  background-image: url('../images/pink\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nose-atom:nth-of-type(7) {
  background-color: #FF4431;
  background-image: url('../images/blue\ nose.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* РОТ И РУКИ */
.mouth-container {
  position: absolute;
  top: calc(2 * 25vw + 25vw);
  left: 0;
  width: 100vw;
  height: 30vw;
  z-index: 998;
  display: flex;
}

/* ЛЕВАЯ РУКА */
.left-hand {
  width: 25vw;
  height: 28vw;
  background-color: #FF4431;
  border: 5px solid black;
  flex-shrink: 0;
  background-image: url('../images/hand.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* РОТ */
.mouth {
  width: 50vw;
  height: 28vw;
  background-color: #F7DE1C;
  border: 5px solid black;
  flex-shrink: 0;
  background-image: url('../images/mouth closed.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* ПРАВАЯ РУКА */
.right-hand {
  width: 25vw;
  height: 28vw;
  background-color: #FF4431;
  border: 5px solid black;
  flex-shrink: 0;
  transform: scaleX(-1);
  background-image: url('../images/hand.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
/* БОКС С ДЕТАЛЯМИ */
.details-row {
  width: 100vw;
  height: 37.5vmin;
  display: flex;
}

/* СТИЛИ ДЛЯ ЯЧЕЕК */
.wings,
.tails,
.horns {
  height: 100%;
  flex-shrink: 0;
  width: 33.33vw;
  border: 5px solid black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* КРЫЛЬЯ */
.wings {
  background-color: #F7DE1C;
  background-image: url('../images/pink wing.svg');
}
/* ХВОСТЫ */
.tails {
  background-color: #01B37F;
  background-image: url('../images/red\ tail.svg');
}
/* РОГА */
.horns {
  background-color: #7A59A4;
  background-image: url('../images/yellow\ horns.svg');
}
/* ПОСЛЕДНИЙ БЛОК */
.final-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
}

/* ТЕКСТОВЫЕ ПРЯМОУГОЛЬНИКИ */
.final-bar {
  width: 100%;
  border: 5px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'KvitkaSPDemo', sans-serif;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: white;
}

/* ВЕРХНИЙ ТЕКСТОВЫЙ БЛОК */
.final-bar.top {
  height: 15vmin;
  background-color: #FF4431;
  font-size: 15vmin;
  line-height: 1.2;
}

/* СРЕДНИЙ ТЕКСТОВЫЙ БЛОК */
.final-bar.middle {
  height: 15vmin;
  background-color: #33BEFF;
  font-size: 15vmin;
  line-height: 1.2;
}

/* НИЖНИЙ ТЕКСТОВЫЙ БЛОК */
.final-bar.bottom {
  height: 7.5vmin;
  background-color: #2B50AA;
  font-size: 6vmin;
  line-height: 1.2;
}

/* ПРОСТРАНСТВО */
.final-large-box {
  width: 100%;
  height: 57vmin;
  border: 5px solid black;
  box-sizing: border-box;
  background-image: url('../images/hall.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ОБЩИЙ ТЕКСТ */
.final-text {
  padding: 0 10px;
}