* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Брови */
.header {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    border: 1px solid blue;
    overflow: hidden;
}

.atoms-wrapper {
    display: flex;
    height: 100%;
}

.header-atom {
    width: 25vw;                 /* 4 бокса = 100vw */
    height: 15vh;                /* заполняет всю высоту .header */
    border: 5px solid rgb(0, 0, 0);
    flex-shrink: 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: 2;
}

.header-atom:nth-of-type(1) {
    background-color: #05C1F1;
    background-image: url('images/blue eyebrow up.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(2) {
    background-color: #05C1F1;
    background-image: url('images/blue\ eyebrow\ down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(3) {
    background-color: #FF4431;
    background-image: url('images/red\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(4) {
    background-color: #FF4431;
    background-image: url('images/red\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
}
.header-atom:nth-of-type(5) {
    background-color: #F7DE1C;
    background-image: url('images/yellow\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scaleX(-1);
}
.header-atom:nth-of-type(6) {
    background-color: #F7DE1C;
    background-image: url('images/yellow\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(7) {
    background-color: #7A59A4;
    background-image: url('images/purple\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(8) {
    background-color: #7A59A4;
    background-image: url('images/purple\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(9) {
    background-color: #01B37F;
    background-image: url('images/green\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-atom:nth-of-type(10) {
    background-color: #01B37F;
    background-image: url('images/green\ eyebrow.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/* Уши слева */
.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar-atom {
  width: 100%;
  height: calc(100% / 6);
  background-color: #05C1F1;
  border: 5px solid rgb(0, 0, 0);
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}

